<!-- <ul>
<% for(var i = 0; i < myObjectArray.length; i++) {%>
  <li>
    <ul>
    <% for(var key in myObjectArray[i]) {%>
      <li><%= key %>  <%= myObjectArray[i][key] %></li>
    <% } %>
    </ul>
  </li>
  <% } %>
</ul>

<p>realmId: <%= user.realmId %></p>
<p>dataSource: <%= user.dataSource %></p>
<ul>
<% for(var i = 0; i < myAccounts.length; i++) {%>
  <li><%= myAccounts[i] %></li>
<% } %>
</ul>
-->

<!--  google library oauth-->
<script src="https://apis.google.com/js/client.js"></script>
